.material-icons {
	font-family: 'Material-Design-Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/*line-height: 1;*/
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	word-wrap: normal;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.mycard {
	min-width: 337.25px;
	max-width: 337.25px;
}
